.clearfix {
    content: '';
    clear: both;
    display: table;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.button {
    border-radius: 5px;
    padding: 5px 5px;
    border: none;
    color: white;
    text-decoration: none;
    margin-top: 15px;
    cursor: pointer;
}

.button.ok {
    background-color: #66B266;
}

.button.info {
    background-color: #78CBFF;
}

.button.mod {
    background-color: #FFAE19;
}

.button.el {
    background-color: #FF3232;
}

.to-right {
    float: right;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

ul {
    list-style-type: none;
}
