header {
    height: $header-height;
    background-color: black;
    color: white;

    #header-container {
        width: 98%;
        margin: 0 auto;
        line-height: $header-height;

        h1 {
            float: left;
        }

        ul {
            list-style-type: none;
            float: left;
            margin-left: 20px;

            li {
                display: inline-block;
                margin-left: 10px;
            }
        }
    }
}
