* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.clearfix {
  content: "";
  clear: both;
  display: table;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.button {
  border-radius: 5px;
  padding: 5px 5px;
  border: none;
  color: white;
  text-decoration: none;
  margin-top: 15px;
  cursor: pointer;
}

.button.ok {
  background-color: #66B266;
}

.button.info {
  background-color: #78CBFF;
}

.button.mod {
  background-color: #FFAE19;
}

.button.el {
  background-color: #FF3232;
}

.to-right {
  float: right;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

ul {
  list-style-type: none;
}

header {
  height: 80px;
  background-color: black;
  color: white;
}

header #header-container {
  width: 98%;
  margin: 0 auto;
  line-height: 80px;
}

header #header-container h1 {
  float: left;
}

header #header-container ul {
  float: left;
  margin-left: 20px;
}

header #header-container ul li {
  display: inline-block;
  margin-left: 10px;
}

main {
  margin: 30px 0;
}

main h2 {
  display: inline-block;
  margin-bottom: 20px;
}

main table {
  width: 100%;
}

main table thead {
  text-align: left;
}

main table td,
main table th {
  border-bottom: 1px solid lightgrey;
}

main table tr {
  height: 45px;
  text-align: center;
}

main table .button {
  margin-right: 15px;
  padding: 5px;
  margin-top: 0px;
}

main .el {
  display: inline-block;
}

main #action-es {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
}

main #action-es #succ {
  background-color: #92C53E;
  padding: 5px;
}

main #action-es #not-succ {
  background-color: #A51919;
  padding: 5px;
}

